[submodule "build/arm-trusted-firmware"]
	path = build/arm-trusted-firmware
	url = https://github.com/lizthegrey/arm-trusted-firmware.git
	branch = lizf.nxp-v2.10-cex7
[submodule "build/ddr-phy-binary"]
	path = build/ddr-phy-binary
	url = https://github.com/NXP/ddr-phy-binary.git
	branch = master
[submodule "build/rcw"]
	path = build/rcw
	url = https://github.com/SolidRun/rcw.git
	branch = LSDK-20.04-sr
[submodule "build/optee_os"]
	path = build/optee_os
	url = https://github.com/SolidRun/optee_os.git
	branch = 3.14.0-cex7
[submodule "build/tianocore/edk2"]
	path = build/tianocore/edk2
	url = https://github.com/lizthegrey/edk2.git
	branch = lizf.edk2-stable202602
[submodule "build/tianocore/edk2-platforms"]
	path = build/tianocore/edk2-platforms
	url = https://github.com/lizthegrey/edk2-platforms.git
	branch = lizf.upstream-rebase
[submodule "build/tianocore/edk2-non-osi"]
	path = build/tianocore/edk2-non-osi
	url = https://github.com/lizthegrey/edk2-non-osi.git
	branch = lizf.upstream-rebase
